In [1]:
import neurokit2 as nk

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [29]:
# anita_max_tkr = pd.read_csv('anita_max_tkr.csv', sep=';')
# nasah_max_tkr2 = pd.read_csv('nasah_max_tkr2.csv', sep=';')
# nyu_max_tkr = pd.read_csv('nyu_max_tkr.csv', sep=';')
# nasah_max_tkr2
alikha_pulse_tkr = pd.read_csv("belom_diedit/alikha_pulse_tkr.csv",sep =";")
anita_pulse_tkr = pd.read_csv("belom_diedit/anita_pulse_tkr.csv",sep =";")
ecak_pulse_tkr = pd.read_csv("belom_diedit/ecak_pulse_tkr.csv",sep =";")
nasah_pulse_tkr = pd.read_csv("belom_diedit/nasah_pulse_tkr.csv",sep =";")
nyoman_pulse_tkr = pd.read_csv("belom_diedit/nyoman_pulse_tkr.csv",sep =";")
nyu_pulse_tkr = pd.read_csv("belom_diedit/nyu_pulse_tkr.csv",sep =";")
puci_pulse_tkr = pd.read_csv("belom_diedit/puci_pulse_tkr.csv",sep =";")
roshied_pulse_tkr = pd.read_csv("belom_diedit/roshied_pulse_tkr.csv",sep =";")
widi_pulse_tkr = pd.read_csv("belom_diedit/widi_pulse_tkr.csv",sep =";")
aldi_tkr = pd.read_csv("29-9-23/aldi_tkr.csv",skiprows=13,sep =",")
ary_tkr = pd.read_csv("29-9-23/ary_tkr.csv",skiprows=13,sep =",")
betari_tkr = pd.read_csv("29-9-23/betari_tkr.csv",skiprows=13,sep =",")
charisma_tkr = pd.read_csv("29-9-23/charisma_tkr.csv",skiprows=13,sep =",")
deva_tkr = pd.read_csv("29-9-23/deva_tkr.csv",skiprows=13,sep =",")
faiza_tkr = pd.read_csv("29-9-23/faiza_tkr.csv",skiprows=13,sep =",")
novi_tkr = pd.read_csv("29-9-23/novi_tkr.csv",skiprows=13,sep =",")
amel_pulse_tkr = pd.read_csv("data_awal/amel_pulse_tkr.csv",sep =";")
andika_pulse_tkr = pd.read_csv("data_awal/andika_pulse_tkr.csv",sep =";")
fauzi_pulse_tkr = pd.read_csv("data_awal/fauzi_pulse_tkr.csv",sep =";")
kanwa_pulse_tkr = pd.read_csv("data_awal/kanwa_pulse_tkr.csv",sep =";")
nandakkn_pulse_tkr = pd.read_csv("data_awal/nandakkn_pulse_tkr.csv",sep =";")
nanda_pulse_tkr = pd.read_csv("data_awal/nanda_pulse_tkr.csv",sep =";")
pradja_pulse_tkr = pd.read_csv("data_awal/pradja_pulse_tkr.csv",sep =";")
raihan_pulse_tkr = pd.read_csv("data_awal/raihan_pulse_tkr.csv",sep =";")
silvia_pulse_tkr = pd.read_csv("data_awal/silvia_pulse_tkr.csv",sep =";")

In [30]:
amel_pulse_tkr

       4001    0
0      3998    0
1      4000    0
2      4002    0
3      4001    0
4      4013    0
...     ...  ...
20165  4001  202
20166  4004  202
20167  4011  202
20168  4006  202
20169  4012  202

[20170 rows x 2 columns]

In [7]:
# nasah_pulse_tkr.columns = ['ir','millis','detik']
# nasah_pulse_tkr = nasah_pulse_tkr[0:1000]
# nasah_pulse_tkr.to_json('nasah_pulse_tkr.json')

In [14]:
def preprocessPulse(path):
  path.columns = ["ir","millis","waktu"]
  path = path[(path.waktu >10)]
  path = path[(path.waktu <=70)]

  return path

In [15]:
alikha_pulse_tkr = preprocessPulse(alikha_pulse_tkr)
anita_pulse_tkr = preprocessPulse(anita_pulse_tkr)
ecak_pulse_tkr = preprocessPulse(ecak_pulse_tkr)
nasah_pulse_tkr = preprocessPulse(nasah_pulse_tkr)
nyoman_pulse_tkr = preprocessPulse(nyoman_pulse_tkr)
nyu_pulse_tkr = preprocessPulse(nyu_pulse_tkr)
puci_pulse_tkr = preprocessPulse(puci_pulse_tkr)
roshied_pulse_tkr = preprocessPulse(roshied_pulse_tkr)
widi_pulse_tkr = preprocessPulse(widi_pulse_tkr)
# anita_max_tkr = preprocessMax(anita_max_tkr)
# nasah_max_tkr2 = preprocessMax(nasah_max_tkr2)
# nyu_max_tkr = preprocessMax(nyu_max_tkr)

In [ ]:
# nasah_pulse_tkr = nasah_pulse_tkr[(nasah_pulse_tkr.waktu <= 30)]
# nasah_pulse_tkr.to_json('nasah_pulse_tkr.json')

In [ ]:
# visky.plot(figsize = (50,10))
# elya

In [ ]:
# fauzi[3000:4000].plot(figsize = (5,5))

In [17]:
# anita_max_tkr['r'].plot()

In [19]:
def awal_bgt(path):
    ppg_path = nk.ppg_clean(path[['ir']], sampling_rate=250)
    peaks_path = nk.ppg_findpeaks(ppg_path, sampling_rate=35, show=False)
    return peaks_path

def cleanPeak(path):
    ppg_path = nk.ppg_clean(path[['ir']], sampling_rate=250)
    peaks_path = nk.ppg_findpeaks(ppg_path, sampling_rate=35, show=False)
    return peaks_path

def cleanPeakMax(path):
    ppg_path = nk.ppg_clean(path[['ir']], sampling_rate=100)
    peaks_path = nk.ppg_findpeaks(ppg_path, sampling_rate=35, show=False)
    return peaks_path

peaks_alikha_pulse_tkr = cleanPeak(alikha_pulse_tkr)
peaks_anita_pulse_tkr = cleanPeak(anita_pulse_tkr)
peaks_ecak_pulse_tkr = cleanPeak(ecak_pulse_tkr)
peaks_nasah_pulse_tkr = cleanPeak(nasah_pulse_tkr)
peaks_nyoman_pulse_tkr = cleanPeak(nyoman_pulse_tkr)
peaks_nyu_pulse_tkr = cleanPeak(nyu_pulse_tkr)
peaks_puci_pulse_tkr = cleanPeak(puci_pulse_tkr)
peaks_roshied_pulse_tkr = cleanPeak(roshied_pulse_tkr)
peaks_widi_pulse_tkr = cleanPeak(widi_pulse_tkr)

# peaks_anita_max_tkr = cleanPeakMax(anita_max_tkr)
# peaks_nasah_max_tkr2 = cleanPeakMax(nasah_max_tkr2)
# peaks_nyu_max_tkr = cleanPeakMax(nyu_max_tkr)

In [21]:
# peaks_nasah_max_tkr2 = pd.DataFrame(peaks_nasah_max_tkr2)
# peaks_nasah_max_tkr2_diff = peaks_nasah_max_tkr2.diff()
# peaks_nasah_max_tkr2_diff[1:]
# len(peaks_nasah_max_tkr2_diff)
# angka = np.arange(1,len(peaks_nasah_max_tkr2_diff),1)
# len(angka)
# peaks_nasah_max_tkr2_diff.plot(kind = 'scatter', x = 'PPG_Peaks', y = 'PPG_Peaks'  )

# plt.plot(peaks_nasah_max_tkr2.diff())

In [22]:
def feature(peak):
  peak = pd.DataFrame(peak)
  hr = peak.count()/(1)
  hrv = peak.diff().var()
  std = peak.diff().std()

  return hr,hrv,std

In [23]:
hr_alikha_pulse_tkr,hrv_alikha_pulse_tkr,std_alikha_pulse_tkr = feature(peaks_alikha_pulse_tkr)
hr_anita_pulse_tkr,hrv_anita_pulse_tkr,std_anita_pulse_tkr = feature(peaks_anita_pulse_tkr)
hr_ecak_pulse_tkr,hrv_ecak_pulse_tkr,std_ecak_pulse_tkr = feature(peaks_ecak_pulse_tkr)
hr_nasah_pulse_tkr,hrv_nasah_pulse_tkr,std_nasah_pulse_tkr = feature(peaks_nasah_pulse_tkr)
hr_nyoman_pulse_tkr,hrv_nyoman_pulse_tkr,std_nyoman_pulse_tkr = feature(peaks_nyoman_pulse_tkr)
hr_nyu_pulse_tkr,hrv_nyu_pulse_tkr,std_nyu_pulse_tkr = feature(peaks_nyu_pulse_tkr)
hr_puci_pulse_tkr,hrv_puci_pulse_tkr,std_puci_pulse_tkr = feature(peaks_puci_pulse_tkr)
hr_roshied_pulse_tkr,hrv_roshied_pulse_tkr,std_roshied_pulse_tkr = feature(peaks_roshied_pulse_tkr)
hr_widi_pulse_tkr,hrv_widi_pulse_tkr,std_widi_pulse_tkr = feature(peaks_widi_pulse_tkr)
# hr_anita_max_tkr,hrv_anita_max_tkr,std_anita_max_tkr = feature(peaks_anita_max_tkr)
# hr_nasah_max_tkr2,hrv_nasah_max_tkr2,std_nasah_max_tkr2 = feature(peaks_nasah_max_tkr2)
# hr_nyu_max_tkr,hrv_nyu_max_tkr,std_nyu_max_tkr = feature(peaks_nyu_max_tkr)

# hr_alikha_pulse_tkr

In [26]:
data = {
'Nama' : [
"alikha_pulse_tkr",
"anita_pulse_tkr",
"ecak_pulse_tkr",
"nasah_pulse_tkr",
"nyoman_pulse_tkr",
"nyu_pulse_tkr",
"puci_pulse_tkr",
"roshied_pulse_tkr",
"widi_pulse_tkr",
# "anita_max_tkr",
# "nasah_max_tkr2",
# "nyu_max_tkr",
],
'HR' : [
int(hr_alikha_pulse_tkr),
int(hr_anita_pulse_tkr),
int(hr_ecak_pulse_tkr),
int(hr_nasah_pulse_tkr),
int(hr_nyoman_pulse_tkr),
int(hr_nyu_pulse_tkr),
int(hr_puci_pulse_tkr),
int(hr_roshied_pulse_tkr),
int(hr_widi_pulse_tkr),
# int(hr_anita_max_tkr),
# int(hr_nasah_max_tkr2),
# int(hr_nyu_max_tkr),
],
'HRV' : [
int(hrv_alikha_pulse_tkr),
int(hrv_anita_pulse_tkr),
int(hrv_ecak_pulse_tkr),
int(hrv_nasah_pulse_tkr),
int(hrv_nyoman_pulse_tkr),
int(hrv_nyu_pulse_tkr),
int(hrv_puci_pulse_tkr),
int(hrv_roshied_pulse_tkr),
int(hrv_widi_pulse_tkr),
# int(hrv_anita_max_tkr),
# int(hrv_nasah_max_tkr2),
# int(hrv_nyu_max_tkr),
],
'STD' : [
int(std_alikha_pulse_tkr),
int(std_anita_pulse_tkr),
int(std_ecak_pulse_tkr),
int(std_nasah_pulse_tkr),
int(std_nyoman_pulse_tkr),
int(std_nyu_pulse_tkr),
int(std_puci_pulse_tkr),
int(std_roshied_pulse_tkr),
int(std_widi_pulse_tkr),
# int(std_anita_max_tkr),
# int(std_nasah_max_tkr2),
# int(std_nyu_max_tkr),
]}

C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:17: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hr_alikha_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:18: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hr_anita_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:19: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hr_ecak_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:20: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hr_nasah_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:21: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hr_nyoman_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:22: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hr_nyu_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:23: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hr_puci_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:24: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hr_roshied_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:25: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hr_widi_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:31: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hrv_alikha_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:32: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hrv_anita_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:33: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hrv_ecak_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:34: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hrv_nasah_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:35: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hrv_nyoman_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:36: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hrv_nyu_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:37: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hrv_puci_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:38: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hrv_roshied_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:39: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(hrv_widi_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:45: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(std_alikha_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:46: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(std_anita_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:47: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(std_ecak_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:48: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(std_nasah_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:49: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(std_nyoman_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:50: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(std_nyu_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:51: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(std_puci_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:52: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(std_roshied_pulse_tkr),
C:\Users\MY ASUS\AppData\Local\Temp\ipykernel_13304\2562403793.py:53: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(std_widi_pulse_tkr),

In [27]:
data = pd.DataFrame(data)
# data.to_excel('dass.xlsx')
data

                Nama   HR  HRV  STD
0   alikha_pulse_tkr   81   36    6
1    anita_pulse_tkr   79   86    9
2     ecak_pulse_tkr   83   86    9
3    nasah_pulse_tkr   97    4    2
4   nyoman_pulse_tkr   98   19    4
5      nyu_pulse_tkr   66   70    8
6     puci_pulse_tkr   95   34    5
7  roshied_pulse_tkr   75  202   14
8     widi_pulse_tkr  103   19    4