In [1]:
import neurokit2 as nk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.signal
import scipy.io.wavfile
from scipy import signal
from sklearn.preprocessing import MinMaxScaler
import os

In [3]:
a = os.listdir('19-10-23')

In [17]:
mean = []
for i in a:
    path = pd.read_csv(f'19-10-23/{i}',skiprows=2,sep=',')
    path.columns = ["ir","waktu"]
    mean.append((path['ir'].mean()))

In [20]:
data = {'mean':mean}
pd.DataFrame(data)

          mean
0  1933.298194
1  1897.531534
2  1938.332819
3  1970.008508
4  1896.539736
5  1896.736499
6  1893.751701

In [ ]:
import pandas as pd
import os

# List nama file CSV
files = ['amel_pulse_tkr', 'andika_pulse_tkr', 'fauzi_pulse_tkr', 'kanwa_pulse_tkr', 'nandakkn_pulse_tkr']

# Membaca file CSV dan mengalikan nilai kolom dengan 2
for file in files:
    file_path = os.path.join('data_awal', f'{file}.csv')
    df = pd.read_csv(file_path, sep=';')
    globals()[f'{file}_kalidua'] = kalidua(df)